</main>
<footer>
  <section class="cf bg-light-green  h-100 center">
    <div class="fl w-100 w-50-m w-25-l tc pv4"></div>
    <div class="fl w-100 w-50-m w-25-l tc pv4 center">
      <a href="https://fitzmuseum.cam.ac.uk" title="The Fitzwilliam Museum">
        <img src="{{ site.baseurl }}/images/svg/Fitz_logo.svg" alt="Fitzwilliam Museum Logo" width="150" class="ml2 mr2 pl2 pr2 center"/>
      </a>
    </div>
    <div class="fl w-100 w-50-m w-25-l tc pv4 enter">
      <a href="https://www.cdh.cam.ac.uk" title="Cambridge Digital Humanities centre">
        <img src="{{ site.baseurl }}/images/cdh_logo.png" alt="The Cambridge Digital Humanities group logo" class="ml2 mr2 pl2 pr2 center"/>
      </a>
    </div>
    <div class="fl w-100 w-50-m w-25-l tc pv4"></div>
  </section>

  <section class="w-100 tc bg-white pa3 center">
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://github.com/FitzwilliamMuseum/walking-the-landscape-fitz-cdh" title="GitHub">
      <img src="{{ site.baseurl }}/images/svg/github-logo.svg" alt="Github Logo" class="black" width="32" height="32">
    </a>
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://instagram.com/fitzmuseum_uk" title="Instagram">
      <img src="{{ site.baseurl }}/images/svg/instagram-logo.svg" alt="instagram Logo" class="black" width="32" height="32">
    </a>
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://youtube.com/fitzmuseum" title="youtube">
      <img src="{{ site.baseurl }}/images/svg/youtube-logo.svg" alt="youtube Logo" class="black" width="32" height="32">
    </a>
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://twitter.com/fitzmuseum_uk" title="Twitter">
      <img src="{{ site.baseurl }}/images/svg/twitter-logo.svg" alt="Twitter Logo" class="black" width="32" height="32">
    </a>
  </section>
  <section class="w-100 tc bg-white pa3 center">

    <small class="f6 db tc">
      © {{ 'now' | date: "%Y" }} The Fitzwilliam Museum & Cambridge Digital Humanities<br/>The University of Cambridge
    </small>
    <div class="tc mt3">
      <a href="https://github.com/FitzwilliamMuseum/walking-the-landscape-fitz-cdh" class="f6 dib ph2 link cherry dim">Code GPLv3</a>
      <a href="https://github.com/FitzwilliamMuseum/walking-the-landscape-fitz-cdh/blob/main/LICENSE" class="f6 dib ph2 link cherry dim">Content CC BY</a>
      <a href="https://fitzmuseum.cam.ac.uk/about-us/terms-of-use-of-our-website" class="f6 dib ph2 link cherry dim">Images CC BY-SA-NC-ND</a>
      <a href="https://www.fitzmuseum.cam.ac.uk/about-us/terms-of-use-of-our-website" title="Terms" class="f6 dib ph2 link cherry dim">Terms of Use</a>
      <a href="https://www.fitzmuseum.cam.ac.uk/about-us/privacy-and-cookies"  title="Privacy" class="f6 dib ph2 link cherry dim">Privacy</a>
    </div>
  </section>
</footer>
{% if page.geojson %}
<script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script type="text/javascript">

  var OSM = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  });

  var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
  	attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
  });

  var map = new L.Map('map', {
    fullscreenControl: {
        pseudoFullscreen: false
    },
    // center: new L.LatLng(
    //   {{ page.centroid }}
    // ),
    // zoom: 12,
    // minZoom: 10,
    // maxZoom: 18,
    scrollWheelZoom: false,
    layers: [OSM,Esri_WorldImagery]
  });

  var layers = {
      "OSM": OSM,
      "Stamen": Esri_WorldImagery
  };
  var layerControl = L.control.layers(layers).addTo(map);

  $.getJSON("/geojson/{{ page.geojson }}",function(data){
   var geoJSON =  L.geoJson(data, {
      onEachFeature: function (feature, layer) {
        if (feature.properties && feature.properties.name) {
            layer.bindPopup('<a href="' + feature.properties.link + '">' + feature.properties.name + '</a>');
        }
    }
    }).addTo(map);
    map.fitBounds(geoJSON.getBounds());

  });
  window.addEventListener('resize',
  	() => map.getViewPort().resize());
</script>
{% endif %}
</body>

</html>
