</main>
<footer>
  <section class="cf bg-light-green  h-100 center">
    <div class="fl w-100 w-50-m w-25-l tc pv4"></div>
    <div class="fl w-100 w-50-m w-25-l tc pv4 center">
      <a href="https://fitzmuseum.cam.ac.uk" title="The Fitzwilliam Museum">
        <img src="{{ site.baseurl }}/images/svg/Fitz_logo.svg" alt="Fitzwilliam Museum Logo" width="150" class="ml2 mr2 pl2 pr2 center"/>
      </a>
    </div>
    <div class="fl w-100 w-50-m w-25-l tc pv4 enter">
      <a href="https://cdh.cam.ac.uk" title="Cambridge Digital Humanities centre">
        <img src="{{ site.baseurl }}/images/cdh_logo.png" alt="The Cambridge Digital Humanities group logo" class="ml2 mr2 pl2 pr2 center"/>
      </a>
    </div>
    <div class="fl w-100 w-50-m w-25-l tc pv4"></div>
  </section>

  <section class="w-100 tc bg-white pa3 center">
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://github.com/FitzwilliamMuseum/walking-the-landscape-fitz-cdh" title="GitHub">
      <img src="{{ site.baseurl }}/images/svg/github-logo.svg" alt="Github Logo" class="black" width="32" height="32">
    </a>
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://instagram.com/fitzmuseum_uk" title="Instagram">
      <img src="{{ site.baseurl }}/images/svg/instagram-logo.svg" alt="instagram Logo" class="black" width="32" height="32">
    </a>
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://youtube.com/fitzmuseum" title="youtube">
      <img src="{{ site.baseurl }}/images/svg/youtube-logo.svg" alt="youtube Logo" class="black" width="32" height="32">
    </a>
    <a class="link near-black bg-transparent  inline-flex items-center ma2 tc br2 pa2" href="https://twitter.com/fitzmuseum_uk" title="Twitter">
      <img src="{{ site.baseurl }}/images/svg/twitter-logo.svg" alt="Twitter Logo" class="black" width="32" height="32">
    </a>
  </section>
  <section class="w-100 tc bg-white pa3 center">

    <small class="f6 db tc">
      © {{ 'now' | date: "%Y" }} The Fitzwilliam Museum & Cambridge Digital Humanities<br/>The University of Cambridge
    </small>
    <div class="tc mt3">
      <a href="https://github.com/FitzwilliamMuseum/amor-fitz-frontend" class="f6 dib ph2 link cherry dim">Code GPLv3</a>
      <a href="https://github.com/FitzwilliamMuseum/amor-fitz-frontend/blob/main/LICENSE" class="f6 dib ph2 link cherry dim">Content CC BY</a>
      <a href="https://fitzmuseum.cam.ac.uk/about-us/terms-of-use-of-our-website" class="f6 dib ph2 link cherry dim">Images CC BY-SA-NC-ND</a>
      <a href="https://www.fitzmuseum.cam.ac.uk/about-us/terms-of-use-of-our-website" title="Terms" class="f6 dib ph2 link cherry dim">Terms of Use</a>
      <a href="https://www.fitzmuseum.cam.ac.uk/about-us/privacy-and-cookies"  title="Privacy" class="f6 dib ph2 link cherry dim">Privacy</a>
    </div>
  </section>
</footer>


</body>

</html>
