<!DOCTYPE html>

<html lang="{{ site.lang }}">

    <head>

        {% if page.is_home %}
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        {% else %}
        <title>{{ page.title }} &#8211; {{ site.title }}</title>
        {% endif %}
        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        {% if site.css == 'inline' %}
        <style>
            {% capture inline-styles %}
            {% include style.scss %}
            {% endcapture %}
            {{ inline-styles | scssify }}
        </style>
        {% else %}
        <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
        {% endif %}
        {% if page.slowManifest %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/openseadragon.min.js" integrity="sha512-qvQYH6mPuE46uFcWLI8BdGaJpB5taX4lltbSIw5GF4iODh2xIgyz5ii1WpuzPFUknHCps0mi4mFGR44bjdZlZg==" crossorigin="anonymous"></script>

        <link href="{{ site.baseurl }}/css/slow.css" rel="stylesheet">

        {% endif %}
        {% if page.geojson %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css" rel="stylesheet">
        {% endif %}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <link rel="stylesheet" href="https://cdn.kiprotect.com/klaro/v0.7.18/klaro.min.css" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JPBNTETD9B"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-JPBNTETD9B');
        </script>
    </head>

    <body class="w-100 bg-white">

        <p class="clip"><a href="#content">Skip to content</a></p>
        <nav class="db w-100 border-box pa3 bg-berry creme dt-l ph5-l">
          <h1 class="db v-mid link w-100 tc mb2 sans-serif f3 dtc-l w-40-l tl-l mb0-l f2-ns">
            <a href="{{ site.baseurl }}/" title="Home" class="link dim creme fw3">{{ site.title }}</a>
          </h1>
            <div class="db v-mid w-100 tc sans-serif dtc-l w-60-l tr-l">
              <a href="{{ site.baseurl }}/" title="Home" class="link dim creme f6 f5-ns dib mr3 mr4-l">Home</a>
              <a href="{{ site.baseurl }}/blog" title="The blog" class="link dim creme f6 f5-ns dib mr3 mr4-l">Blog</a>
              <a href="{{ site.baseurl }}/walks" title="The walks in the landscape" class="link dim creme f6 f5-ns dib mr3 mr4-l">Walks</a>
              <a href="{{ site.baseurl }}/about" title="About" class="link dim creme f6 f5-ns dib mr3 mr4-l">About</a>
              <a href="{{ site.baseurl }}/team" title="Our team of researchers" class="link dim creme f6 f5-ns dib mr3 mr4-l">Our Team</a>
            </div>
          </nav>

        <div>
            <section class="ph7-ns pl4 pr4 mt3 mb3 black">
                {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
                <a href="/">Home</a>
                {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                / {{ page.title }}
                {% else %}
                / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
                {% endif %}
                {% endfor %}
            </div>
        <main id="content">
