<div id="osd-viewer">
    <div id="modal" class="modal">
      <div class="modal__inner">
        <div class="modal__text">
          <div class="modal__header">
            <h1 class="modal__title">Slow looking: Constable</h1>
          </div>

          <div class="modal__body">
            <p>Inspired by Cogapp's original slow looking, you are about to slowly immerse yourself in this image. </p>
            <p>To exit, just click anywhere.</p>
          </div>

          <div class="modal__actions">
            <a id="slowlooking-start" class="modal__button" href="#">Try it now</a>
            <a id="back" class="modal__button" href="{{ site.url }}/blog">Return to our blog</a>

          </div>
        </div>
      </div>
    </div>
  </div>
