{% include header.html %}

<div class="js-wrap filter-animate">

    <main class="mw7 mh3 mb5 center">
        <div id="banner" class="mw6 center ph3 mv5">
            <img src="{{ page.lead_image }}" class="light-red" alt="{{ page.alt_text}}">
        </div>

        <article class="ph3">

            <h1 class="f3 f2-ns black-90 nowrap">{{ page.title }} <br>
                <small class="fw4 gray f4 f3-ns nowrap">by {{ page.author }}</small>
            </h1>
            <h2 class="f6 fw4 mv0 black-60">
                <time datetime="2016-03-24 00:00:00 +0000">{{ page.date | date: "%A, %b %d %Y" }}</time>
            </h2>

            <div class="lh-copy f5 f4-ns fw3 black-80 mv3 mv4-ns">
                {{ page.content }}
            </div>

            {% if page.manifest %}
              {% include universal-viewer.html %}
            {% endif %}

            <aside class="flex flex-wrap items-center justify-start black-70 mv4">
                <button type="button"
                        class="pointer black-70 f6 tracked-tight override-sans-serif nowrap bg-light-gray hover-bg-black-20 ba b--none br2 pa2 mr2 mv1">
                    Constable
                </button>
                <button type="button"
                        class="pointer black-70 f6 tracked-tight override-sans-serif nowrap bg-light-gray hover-bg-black-20 ba b--none br2 pa2 mr2 mv1">
                    Lucas
                </button>
                <button type="button"
                        class="pointer black-70 f6 tracked-tight override-sans-serif nowrap bg-light-gray hover-bg-black-20 ba b--none br2 pa2 mr2 mv1">
                    Printmaking
                </button>
                <button type="button"
                        class="pointer black-70 f6 tracked-tight override-sans-serif nowrap bg-light-gray hover-bg-black-20 ba b--none br2 pa2 mr2 mv1">
                    Example tags
                </button>
            </aside>
            {% if page.geojson %}
            <section class="w-100 pa2">
                <div id="map" style="width: 100%; height: 500px;"></div>
            </section>
            {% endif %}
        </article>

{% include footer.html %}
