{% include header.html %}

<div class="js-wrap filter-animate">

    <main class="mw7 mh3 mb5 center">
        <div id="banner" class="mw6 center ph3 mv5">
            <img src="{{ page.lead_image }}" class="light-red" alt="{{ page.alt_text}}">
        </div>

        <article class="ph3">

            <h1 class="f3 f2-ns black-90 nowrap">{{ page.title }} <br>
                <small class="fw4 f4 f3-ns nowrap berry">by {{ page.author }}</small>
            </h1>
            <h2 class="f4 fw4 mv0 black-60">
                <time datetime="2016-03-24 00:00:00 +0000">{{ page.date | date: "%A, %b %d %Y" }}</time>
            </h2>

            <div class="lh-copy f5 f4-ns fw3 black-80 mv3 mv4-ns">
                {{ page.content }}
            </div>

            {% if page.manifest %}
              {% include universal-viewer.html %}
            {% endif %}

            {% if page.geojson %}
            <section class="w-100 pv4">
              <h3 class="f4 fw4 mv0 black-60 tc">
                  Visualise the landscape
              </h3>
                <div id="map"></div>
            </section>
            {% endif %}

            {% include post_tags.html %}

        </article>

{% include footer.html %}
