{% include header.html %}
<article class="ph7-ns pl4 pr4 mt3 mb3">
  <header class="tc ph4">
    <h1 class="f1 f2-m f1-l fw2 black-90 mv3 fw6  avenir">
      {{ page.title }}
    </h1>
  </header>
  {% if page.image %}
  <div id="banner" class="mw6 center ph3 mv5">
    <img src="{{ page.image }}" class="light-red">
  </div>
  {% endif %}
  <div class="lh-copy f5 f4-ns fw3 black-80 mv3 mv4-ns">
    {{ content}}
  </div>
  <div class="lh-copy f5 f4-ns fw3 black-80 mv3 mv4-ns">
    {% if page.twitter %}
     Twitter Handle: <a href="https://twitter.com/{{ page.twitter}}">{{ page.twitter}}</a><br/>
    {% endif %}
    {% if page.orcid %}
    OrdID: {{ page.orcid}}
    {%endif%}
  </div>
</article>
{% include footer.html %}
